/.bundle
/vendor/bundle
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/db/*.sqlite3
/db/*.sqlite3-*
/config/master.key
/config/credentials/*.key
/public/assets
.env*
.DS_Store
